# Auto detect text files and perform LF normalization
* text=auto

# <!-- all svg icons found ⬇
# https://freeicons.io/filter/popular/all/all/sticky?iuc=4154263957 -->

# <!-- box shadow found ⬇
# https://getcssscan.com/css-box-shadow-examples -->

# <!-- background color found ⬇
# https://flatuicolors.com/palette/cn -->

# <!-- hamburger icon found ⬇
# https://fontawesome.com/v5.15/icons/bars?style=solid -->

# <!-- font awesone cdn found ⬇
# https://cdnjs.com/libraries/font-awesome -->

# drag and drop code link ⬇
# https://javascript.info/mouse-drag-and-drop

# canves informations link ⬇
# https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Client-side_web_APIs/Drawing_graphics

# exprees library site - ⬇
# https://www.npmjs.com/package/express