* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.options-cont {
    height: 4rem;
    width: 3.5rem;
    background-color: #ced6e0;
    position: absolute;
    top: 2rem;
    left: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 3.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}